<html>
    <head>
        <title>
            zeroDayBootcamp registration page
        </title>
    </head>
    <body>
        <h1>Hello dear $${{NAME}}$$. you have been selected to enlist our secret zeroDayBootcamp training group!</h1>
        <h1>this group will do this and that and a whole lot more, so you better enlist because its great!</h1>
        <h1>enlistment fee is 50 nis for TOP QUALITY CONTENT!</h1>
        please follow following payment link to enlist <a href="$${{PROTOCOL}}$$://$${{DOMAIN_NAME}}$$/payment?hacker_id=$${{HACKER_ID}}$$">Payment Link</a>
    </body>
</html>